
/*wrapper and footer to remove whitespace below footer*/

#wrapper {
   min-height:100%;
   position:relative;
}


#footer {
   position:absolute;
   bottom:0;
   width:100%;
}

/*end wrapper and footer*/

/*popcorn classes*/

.strikethrough{
	text-decoration: line-through;
}

@-webkit-keyframes highlight-fade {   
   0% {background: none;}
   100% {background: yellow;}
}

.highlight {
	-webkit-animation-fill-mode: forwards;
	-webkit-animation: highlight-fade 0.25s;
	background: yellow;
}

@-webkit-keyframes focus-fade {   
   0% {font-size: 100%;}
   100% {font-size: 200%;}
}

.focus {
	font-size: 200%;
    transition: font-size .25s ease-in-out;
   -moz-transition: font-size .25s ease-in-out;
   -webkit-transition: font-size .25s ease-in-out;
}

.fadeOut {
	opacity: 0;
	transition: opacity 0.25s ease-in-out;
   -moz-transition: opacity 0.25s ease-in-out;
   -webkit-transition: opacity 0.25s ease-in-out;
}

.hidden {
	transform: scale(0,0);
}

/*end popcorn classes*/

/*for horizontal scrolling*/
pre {
    overflow-x: auto;
    tab-size: 2;
}
pre code {
    overflow-wrap: normal;
    white-space: pre;
}

div.center {
	text-align: center;
}

div.buttons  button {
	width: 200px;
	height: 35px;
}

.buttons {
	width: 200px;
	height: 35px;
}

.mid {
	margin: 0 auto;
}

.vid {
	width: 100% !important;
	position:relative !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 35px;
    font-size: 200px;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*from codemirror*/

.breakpoints {width: .8em;}
.breakpoint { color: #822; }
.CodeMirror {
border: 1px solid #aaa;
height: auto;
}

/*end codemirror*/

.modal-backdrop {
	z-index: -1;
}

.annotation-gutter {
	width: 30px;
}